.about {
  .about-section();
  .section-var();
  &__container {
    background:@about-bg;
    position: relative;
    top: -80px;
    @media(max-width: @smartphone-big) {
      top: -50px;
      img {
        width: 100%;
      }
    }
    & img {
      position: absolute;
      right: 0;
    }
  }
  &__wrapper {
    padding-left: 87px;
    padding-right: 87px;
    z-index: 2;
    position: relative;
    top: 80px;
    margin-bottom: 100px;
    @media(max-width: @smartphone-albom) {
      padding-left: 50px;
      padding-right: 50px; 
    }
  }
  &__header {
    margin: 0;
    width: 90%;
    padding: 30px 10px 0 0;
  }
  &__text {
    padding-top: 20px;
    padding-bottom: 40px;
    color: @section-title-color;
    line-height: 24px;
    font-weight: normal;
    letter-spacing: 0.15px;
    font-style: normal;
  }
  &__img {
    background: @about-img-bg center center no-repeat;
    height: 420px;
    @media(max-width: @smartphone-big) {
      background: @about-img-bg center;
      background-size: cover;
      height: 320px;
    }
    @media(max-width: @smartphone-albom) {
      height: 270px; 
    }
  }
}