.appointment {
  .appointment-section();

  background-color: @appointment-bg-color;
  height: 980px;
}

.form {
  .appointment-section();
  background-color: @form-bg-color;
  height: 640px;
  width: 585px;
}