.buttons() {
  @bg-color: #4B4B4B;
  @text-color: #fff;
  @text-size: 16px;
}

.button {
  .buttons();
  color: @text-color;
  background: @bg-color;
  cursor: pointer;
  text-decoration: none;
  font-size: @text-size;
  width: 211px;
  height: 48px;
  padding: 10px 5px;
  text-transform: uppercase;
}