.button {
	.buttons();
	display: inline-block;
	position: relative;
	text-decoration: none;
	padding: 1.4em 3.8em 1.4em 1em;
	background: @bg-btn-color-primary;
	border: none;
	color: @text-color;
	//transition: .2s;
	font-size: @text-size;
	text-transform: uppercase;
	min-width: 15em;
	cursor: pointer;
	z-index: 1;
	@media(max-width: @ipad) {
    font-size: 10px;
		padding: 1.4em 4.0em 1.4em 1em;
  }
	@media(max-width: @smartphone-albom) {
		font-size: 9px;
    padding: 1.4em 5em 1.4em 1em;	
	}
	&__container {
		margin-right: 70px;
		@media(max-width: @smartphone-albom) {
			margin-right: 30px;	
		}
	}
	&--appointment {
		min-width: 17em;
	}
	&:before,
	&:after {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		padding-top: inherit;
		padding-bottom: inherit;
		width: 3.5em;
		content: "";
		font-size: @text-size;
		text-align: center;
		//transition: .2s;
		//transform-origin: 50% 60%;
		padding-left: 0.2em;
		@media(max-width: @smartphone-albom) {
			padding-top: 14px;
		}
	}
	&:before {
		background: @bg-btn-color-second;
		clip-path: polygon(10% 100%, 100px 200%, 100% 0px, 60% -80%)
	}
	&:hover {
		background: darken(@bg-btn-color-primary, 10%);
	}
	&:active,
	&:focus {
		background: darken(@bg-btn-color-primary, 30%);
		outline: none;
	}
	&__arrow {
	&:hover {
    background: darken(@bg-btn-color-second, 10%);
	}
	&:active,
	&:focus {
		background: darken(@bg-btn-color-second, 30%);
	} 
	&:after {
    content:url('../img/arrow_forward_24px.svg');
	}
	&:hover:after {
		animation: bounceright .3s alternate ease infinite;
	}
	}
}

.play-button {
	.buttons();
	position:absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  background: @bg-btn-color-white;
  border: none;
  width:100px;
  height:100px;
  border-radius:50%;
  animation: pulse-wave 2s linear infinite;
	@media(max-width: @smartphone-albom) {
		width:60px;
  	height:60px;
	}
	& svg {
		margin-left: 5px;
		@media(max-width: @smartphone-albom) {
			width:32px;
			height:32px;
		}
	}
	&__shape{
		fill: @fill-default;
	}
	&:hover {
		animation: none;
	}
}

@keyframes bounceright {
	from { transform: translateX(0); }
	to   { transform: translateX(3px); }
}

@keyframes pulse-wave {
	0%{
			box-shadow: 0 0 0 0 rgba(255, 255, 255, 1), 0 0 0 0 rgba(255, 255, 255, 0.5)
	}
	40%{
			box-shadow: 0 0 0 70px rgba(201,8,95,0), 0 0 0 30px rgba(201,8,95,0)
	}
	80%{
			box-shadow: 0 0 0 70px rgba(201,8,95,0), 0 0 0 30px rgba(201,8,95,0)
	}
	100%{
			box-shadow: 0 0 0 0 rgba(201,8,95,0), 0 0 0 40px rgba(201,8,95,0)
	}
}	