@glob-color-primary: #C40B0B;
@glob-color-secondary: #02133C;
@glob-color-third:#E30B0B;
@glob-color-neutral: #fff;
@glob-text-color-light: #4B4B4B;
@glob-body-color: #F5F5F5;
@glob-color-neutral-gray: #959595;
@glob-color-gray: #D5D5D5;

@glob-img-header: url("../img/Heroshot3.png");
@glob-logo-header: url("../img/Logo-Placeholder-5.png");
@glob-about-img-bg: url("../img/about-image.png");
@glob-video-bg: url("../img/video-bg.png");

@glob-text-size-count: 96px;
@glob-text-size-h1: 56px;
@glob-text-size-h2: 42px; 
@glob-text-size-h3: 36px;
@glob-text-size-h4: 30px;
@glob-text-size-h5: 24px;
@glob-text-size-h6: 19px;
@glob-text-size-body: 16px;
@glob-text-size-btn: 16px;
@glob-text-size-nav: 14px;
@glob-text-size-cap: 12px;

//media query
@ipadPro: 1360px;
@ipad: 920px;
@smartphone-big: 760px;
@smartphone: 602px;
@smartphone-albom: 482px;
@smartphone-mid: 376px;
@smartphone-port: 320px;

.body-default() {
  @body-bg-color: @glob-body-color;
}

.buttons() {
  @text-color: @glob-color-neutral;
  @bg-btn-color-primary: @glob-color-primary;
  @bg-btn-color-second: @glob-color-third;
  @bg-btn-color-white: @glob-color-neutral;
  @text-size: @glob-text-size-cap;
  @fill-default: @glob-color-primary;
} 

.header-var() {
  @bg-header-image: @glob-img-header;
  @logo-image: @glob-logo-header;
  @fill-default: @glob-color-primary;
  @fill-blue: @glob-color-secondary;
  @text-primary-color-default: @glob-color-neutral;
  @text-secondary-color-default: @glob-color-secondary;
  @text-size-h1: @glob-text-size-h1;
  @text-sm-big-h1: @glob-text-size-h2;
  @text-size-nav: @glob-text-size-nav;
  @text-size-util: @glob-text-size-cap;
  @nav-bg: @glob-color-neutral;
}

.section-var() {
  @section-text-size-header-overline: @glob-text-size-cap;
  @section-title-color: @glob-text-color-light;
  @section-header-text-color-white: @glob-color-neutral;
  @section-header-text-color: @glob-color-secondary;
  @section-header-text-size: @glob-text-size-h3;
  @section-overline-gray-text-color: @glob-color-gray;
}
.about-section() {
  @about-bg: @glob-color-neutral;
  @about-img-bg: @glob-about-img-bg;
  @about-text-color: @glob-color-secondary;
}
.feature-var() {
  @feature-title-text-size: @glob-text-size-h6;
  @feature-title-text-color: @glob-color-secondary;
}
.video-section() {
  @video-img-bg: @glob-video-bg;
  @video-text-color: @glob-color-neutral;
  @video-text-size: @glob-text-size-h3; 
}

.services-var() {
  @services-card-color: @glob-color-neutral;
}

.appointment-section() {
  @form-placeholder-text-size: @glob-text-size-body;
  @form-placeholder-text-color: @glob-color-neutral-gray;
  @form-field-color: @glob-body-color;
  @form-focus-color: @glob-color-primary;
  @appointment-bg-color: @glob-color-secondary;
  @form-bg-color: @glob-color-neutral;
  @stat-header-text-size: @glob-text-size-h4;
  @stat-header-text-color: @glob-color-neutral;
  @stat-count-text-color: @glob-color-primary;
  @stat-count-text-size: @glob-text-size-count;
  @stat-count-description-text-size: @glob-text-size-h6;
  @stat-count-description-text-color: @glob-color-neutral;
}

.gallery-section() {
  @gallery-bg: @glob-color-neutral;
}
.tabs-var() {
  @tab-bar-color-active: @glob-color-primary;
  @tab-btn-text-color: @glob-color-secondary;
  @tab-btn-text-size: @glob-text-size-body;
}

.customers-var() {
  @customers-name-text-size: @glob-text-size-body;
  @customers-name-text-color: @glob-color-secondary;
}

.stats-var() {
  @stats-bg: @glob-color-secondary;
  @stats-header-text-color: @glob-color-neutral;
  @stats-count-text-color: @glob-color-primary;
  @stats-count-description-text-color: @glob-body-color;
  @stats-count-text-size: @glob-text-size-h3;
  @stats-count-description-text-size: @glob-text-size-body; 
}

.appointment-block-var() {
  @appointment-block-bg: @glob-color-neutral;
  @appointment-block-header-text-color: @glob-color-secondary;
  @appointment-block-header-text-size: @glob-text-size-h5; 
}

.footer-var () {
  @footer-block-text-color: @glob-text-color-light;
  @footer-copyright-bg-color: @glob-color-secondary;
  @footer-copyright-text-color: @glob-color-neutral-gray;
  @footer-block-text-size: @glob-text-size-nav;
}

.mobile-menu-var () {
  @button-color-menu: @glob-color-neutral-gray;
}