.feature {
	.feature-var();
	margin-bottom: 100px;
	@media(max-width: 420px) {
		margin-bottom: 50px;		
	}
	&__header{
		padding-bottom: 60px;
	}
	&__menu {
		display: flex;
	}
	&__block {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
	}
	&__block + &__block {
		margin-left: 24px;
	}
	&__title {
		margin: 0;
		font-weight: 900;
		font-size: @feature-title-text-size;
		line-height: 26px;
		color: @feature-title-text-color;
		@media(max-width: @smartphone-big) {
			font-size: 16px;	
		}
		@media(max-width: @smartphone-albom) {
			font-size: 12px;
			line-height: normal;	
		}
	}
	&__text {
		padding: 5px 5px;
		@media(max-width: @smartphone-big) {
			font-size: 12px;
		}
		@media(max-width: @smartphone-albom) {
			font-size: 10px;
		}
	}
	&__image {
		margin-right: 20px;
		@media(max-width: @smartphone-big) {
			width: 20%;
		}
		@media(max-width: @smartphone-albom) {
			width: 15%;
		}
	}
}