.gallery {
	.gallery-section();
	&__container {
		background: @gallery-bg;
		position: relative;
		top: -80px;
	}
	&__wrapper {
		padding-left: 87px;
		padding-right: 87px;
		z-index: 2;
		position: relative;
		top: 80px;
		margin-bottom: 100px;
		@media(max-width: @smartphone-big) {
			top: 20px;
		}
		@media(max-width: @smartphone) {
			padding-left: 50px;
			padding-right: 50px;
		}
	}
	&__header {
		margin: 0;
		width: 90%;
		padding: 30px 10px 25px 0;
		@media(max-width: @smartphone-albom) {
			padding: 10px 10px 10px 0;	
		}
	}
	&__content {
		padding-top: 25px;
		@media(max-width: @smartphone-albom) {
			padding-top: 10px;	
		}
	}
}