.header {
  .header-default();
  background: @bg-header-image center center no-repeat;
  background-size: cover;
  height: 810px;
  width: 100%;
  &__inner {
    display: flex;
    flex-direction: column;
  }
  &__title {
    color: @text-primary-color-default;
    font-size: @text-size-h1;
    padding-right: 500px;
    text-align: left;
    padding-top: 126px;
    padding-bottom: 48px;
  }
}

.top-navigation {
  display: flex;
  padding-top: 26px;
  justify-content: space-between;
  align-items: center;
}

.utility {
  .header-default();
  display: flex;
  align-items: center;
  &__wrapper {
    display: flex;
    align-items: center;
    margin-right: 30px;
  }
  &__img svg {
    margin-right: 10px;
    margin-bottom: 15px;
    fill: @fill-default;
  }
  &__content {
    color: @text-primary-color-default;
    font-size: @text-size-util;
  }
  &__title {
    text-transform: uppercase;
  }
}

.menu {
  .header-default();
  &__list {
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: @nav-bg;
    list-style: none;
    height: 60px;
  }
  &__item {
    position: relative;
  }
  &__item + &__item {
    margin-left: 37px;
  }
  &__link {
    color: @text-secondary-color-default;
    font-size: @text-size-nav;
    text-decoration: none;
    font-weight: bold;
    line-height: 22px;
    &:hover {
      opacity: 0.7;
    }
  }
  &__arrow {
    position: absolute;
    right: 0;
    top: 15px;
    // width: 0;
    // height: 0;
    // border-top: 10px solid #000;
    // border-right: 10px solid transparent;
    // border-left: 10px solid transparent; 
    width: 60px;
      height: 60px;
      border-top: 10px solid #6E18C0;
      border-right: 10px solid #6E18C0;
      margin-right: 60px;
    transform: rotate(-45deg); 
  }
}

.sub-menu__list {
  .header-default();
  background-color: @nav-bg;
  position: absolute;
  list-style: none;
  left: 0;
  padding: 20px 5px 0 0;
  //min-width: 150px;
  //display: none;
  &__link {
    text-decoration: none;
    display: inline-block;
  }
  //top: 40px;
}

.menu__list > li:hover .sub-menu__list {
  display: block;
}