.header-default() {
  @bg-header-image: #D5D5D5;
  @fill-default: #4B4B4B;
  @text-color-default: #fff;
  @text-color-secondary-default: #000000;
  @text-size-h1: 56px;
}

.header {
  .header-default();

  background: @bg-header-image center center no-repeat;
  background-size: cover;
  height: 813px;
  width: 100%;
  &__title {
    color: white;
    font-size: @text-size-h1;
  }
}

.utility {
  .header-default();

  &__hours {
    &__img svg {
      fill: @fill-default;
    }
  }

  &__phone {
    &__img svg {
      fill: @fill-default;
    }
  }
  &__text {
    color: @text-color-default;
  }
}

.navbar {
  .header-default();
  &__menu {
    display: flex;
    flex-direction: row;
  }

  &__item {
    a {
      color: @text-color-secondary-default;
      text-decoration: none;
      &:hover {
        opacity: 0.7;
      }
    }
  }
}