.menu {
  .header-var();
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: @nav-bg;
  &__list {
    display: flex;
    align-items: center;
    flex-direction: row;
    list-style: none;
    margin: 0;
  }
  &__item {
    position: relative;
    padding: 20px 0;
    transition-duration: 0.5s;
  }
  &__item + &__item {
    margin-left: 37px;
  }
  &__link {
    color: @text-secondary-color-default;
    font-size: @text-size-nav;
    text-decoration: none;
    font-weight: bold;
    line-height: 22px;
    &:hover,
    :focus-within {
      color: @fill-default;
    }
  }
  &__arrow { 
    border: solid @fill-default;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    margin-bottom: 2px;
    margin-left: 10px;
    transition: all 0.5s ease;
  }
}

.sub-menu {
  .header-var();
  &__list {
  background-color: @nav-bg;
  position: absolute;
  list-style: none;
  left: 0;
  opacity: 0;
  padding: 10px;
  margin-top: 20px;
  visibility: hidden;
  width: 15vw;
  list-style: none;
  animation: fadein 0.5s ease-in-out;
  z-index: 2;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  box-shadow: -1px 2px 5px -1px @fill-default;
  :before {
    content: '\A';
    position: absolute;
    top: -20px;
    left: calc(10% - 15px);
    border-width: 10px 10px;
    border-style: solid;
    border-color: transparent transparent @fill-default;
    }
  }
  &__link {
    color: @text-secondary-color-default;
    font-size: @text-size-nav;
    text-decoration: none;
    font-weight: bold;
    line-height: 22px;
    padding: 5px;
    &:hover,
    :focus-within {
      color: @fill-default;
    }
  }
  &__head {
    &:hover {
      .sub-menu__list {
        visibility: visible;
        opacity: 1; 
      }
      .menu__arrow {
        transform: rotate(-135deg);
        margin-bottom: -2px;
        transition: all 0.5s ease;
      }
    }
  }
}

@keyframes fadein {
  from { opacity: 0;}
  to {opacity: 1;}
}