.menu {
  .header-default();
  height: 100%;
  width: 100%;
  &__list {
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: @nav-bg;
    list-style: none;
  }
  &__item {
    position: relative;
    padding: 20px 0;
    transition-duration: 0.5s;
  }
  &__item + &__item {
    margin-left: 37px;
  }
  &__link {
    color: @text-secondary-color-default;
    font-size: @text-size-nav;
    text-decoration: none;
    font-weight: bold;
    line-height: 22px;
    &:hover,
    :focus-within {
      color: @fill-default;
    }
  }
  &__arrow { 
    border: solid @fill-default;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    margin-bottom: 2px;
    margin-left: 10px;
    transition: all 0.5s ease;
  }
}

.sub-menu {
  .header-default();
  &__list {
  background-color: @nav-bg;
  position: absolute;
  list-style: none;
  left: 0;
  opacity: 0;
  visibility: hidden;
  padding: 20px 5px 0 0;
  box-shadow: 0 3px 0 #000;
  list-style: none;
  padding: 30px;
  animation: fadein 0.5s ease-in-out;
  }
  &__link {
    color: @text-secondary-color-default;
    font-size: @text-size-nav;
    text-decoration: none;
    font-weight: bold;
    line-height: 22px;
    padding: 5px;
    &:hover,
    :focus-within {
      color: @fill-default;
    }
  }
  &__head {
    &:hover {
      .sub-menu__list {
        visibility: visible;
        opacity: 1; 
      }
      .menu__arrow {
        transform: rotate(-135deg);
        margin-bottom: -2px;
        transition: all 0.5s ease;
      }
    }
  }
}

@keyframes fadein {
  from { opacity: 0;}
  to {opacity: 1;}
}