.video {
  .video-section();

 &__block {
  background: @video-img-bg center center no-repeat;
  background-size: cover;
  height: 500px;
 }
 &__header {
  position: relative;
  padding: 100px 150px 0 400px;
  width: 80%;
  text-align: left;
  float: right;
  margin: 0;
 }
}